.EmploymentItem{
	display: block;
	min-height: 100px;
	margin-bottom: 10px;
	background-color: grey;
}

#popup{
	display: none;
	position: fixed;
	width: 300px;
	background-color: black;
	color: white;
	min-height: 200px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;
	z-index: 20;
	padding: 10px;
}

#SkillContainer{
	width: 800px;
}

.SkillBar{
	width: 100%;
	background-color: #ddd;
	margin-bottom: 10px;
}

.progress{
	width: 0;
	height: 30px;
	background-color: #4CAF50;
}


















